<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@users) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', :autocomplete => 'off' %>
        <br/>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', :autocomplete => 'off' %>
        <br/>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <br/>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <br/>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    <p>Have an account? <%= link_to "Login", login_path %></p>
  </div>
</div>